@font-face {
    font-family: 'social-icons';
    src:url('./fonts/social-icons.eot');
    src:url('./fonts/social-icons.eot?#iefix') format('embedded-opentype'),
    url('./fonts/social-icons.svg#warringah-icons') format('svg'),
    url('./fonts/social-icons.woff') format('woff'),
    url('./fonts/social-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul > li > a.service-links-counter {
    display: inline-block;
}
ul > li > a.service-links-counter {
    border: #ffffff solid 1px;
    background-color: #0071B3;
    color: #ffffff;
}
ul > li > a.service-links-counter:hover {
    border: #0071B3 solid 1px;
    background-color: #ffffff;
    color: #0071B3;
}

a.service-links-counter > .sharrre-element.sharrre > span.service-icon:before,
a.service-links-twitter-no-counter:before {
    font-family: 'social-icons';
    /*font-style: normal;*/
    /*font-weight: normal;*/
    speak: none;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    padding: 1px;
}
a.service-links-facebook-counter > .sharrre-element.sharrre > span.service-icon:before {
    content: "\258";
}
a.service-links-googleplus-counter > .sharrre-element.sharrre > span.service-icon:before {
    content: "\264";
}
a.service-links-linkedin-counter > .sharrre-element.sharrre > span.service-icon:before {
    content: "\259";
}
a.service-links-twitter-counter > .sharrre-element.sharrre > span.service-icon:before,
a.service-links-twitter-no-counter:before {
    content: "\257";
}
a.service-links-counter > .sharrre-element.sharrre > span.service-count {
    min-width: 48px;
    width: 48px;
    font-weight: bold;
    font-size: 16px;
    float: right;
    text-align: center;
    padding: 2px 0;
}
a.service-links-twitter-no-counter {
    padding: 0 4px;
}
a.service-links-twitter-no-counter > img {
    display: none;
}